*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
input,button{
  appearance: none;
  background:none;
  border:none;
  outline:none;
}
.app{

  height: 800px;
  width: 1800px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: url("one.jpg");
  opacity: 1;

}
  form {
    border: 3px solid #f1f1f1;
    top: 280px;
  }
  form .form-inner
  {
    background-color: whitesmoke;
    padding: 30px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .place{
  position: relative;
  width: 250px;
  top: 50px;
  font-size: 180%;
  }
  .k{
    height: 400px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 1;
  }
  