
form {
    border: 3px solid #f1f1f1;
  }
  form .form-inner
  {
    background-color: whitesmoke;
    padding: 30px;
  }
  input[type=text], input[type=password],input[type=date] ,input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }